@use "mixins" as *;
@use "variables" as *;

$gradient-primary: linear-gradient(90deg ,#000000d1,#00000024);
$gradient-secondary: linear-gradient(0deg ,#00000099,#00000024);
$gradient-onHover: linear-gradient(0deg ,#ffffff80,#ffffff1a);

.gallery {
    // reset fiure style
    figure {margin: 0;}
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2rem;

        @include respond-to($xs) {grid-template-columns: repeat(2, 1fr);}
        @include respond-to($sm) {grid-template-columns: repeat(4, 1fr);}

        // background image's
        &__item {
            position: relative;
            padding-top: 39%;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @include respond-to($xs) {
                padding-top: 150%;
            }

            &--1 {
                background-image: $gradient-primary, url(../images/mobile/image-deep-earth.jpg);
            }
            &--2 {
                background-image: $gradient-primary, url(../images/mobile/image-night-arcade.jpg);
            }
            &--3 {
                background-image: $gradient-primary, url(../images/mobile/image-soccer-team.jpg);
            }
            &--4 {
                background-image: $gradient-primary, url(../images/mobile/image-grid.jpg);
            }
            &--5 {
                background-image: $gradient-primary, url(../images/mobile/image-from-above.jpg);
            }
            &--6 {
                background-image: $gradient-primary, url(../images/mobile/image-pocket-borealis.jpg);
            }
            &--7 {
                background-image: $gradient-primary, url(../images/mobile/image-curiosity.jpg);
            }
            &--8 {
                background-image: $gradient-primary, url(../images/mobile/image-fisheye.jpg);
            }

            // 
            @include respond-to($xs) {
                &--1 {
                    background-image: $gradient-secondary, url("../images/desktop/image-deep-earth.jpg")
                }
                &--2 {
                    background-image: $gradient-secondary, url("../images/desktop/image-night-arcade.jpg")
                }
                &--3 {
                    background-image: $gradient-secondary, url("../images/desktop/image-soccer-team.jpg")
                }
                &--4 {
                    background-image: $gradient-secondary, url("../images/desktop/image-grid.jpg")
                }
                &--5 {
                    background-image: $gradient-secondary, url("../images/desktop/image-from-above.jpg")
                }
                &--6 {
                    background-image: $gradient-secondary, url("../images/desktop/image-pocket-borealis.jpg")
                }
                &--7 {
                    background-image: $gradient-secondary, url("../images/desktop/image-curiosity.jpg")
                }
                &--8 {
                    background-image: $gradient-secondary, url("../images/desktop/image-fisheye.jpg")
                }
            }
        }

        // caption, overlay and hover styles
        &__item {
            // Caption
            figcaption {
                position: absolute;
                bottom: 1rem;
                left: 1rem;

                text-transform: uppercase;
                font-size: 1.75rem;
                font-family: 'Josefin Sans', sans-serif;;
                color: white;
                user-select: none;
            }
            // Overlay
            .imageOverlay {
                position: absolute;
                inset: 0;
                opacity: 0;
                background-image: $gradient-onHover;
                transition: opacity .25s ease-out;
            }
            // Hover
            &:hover {
                cursor: pointer;
                .imageOverlay {
                    opacity: 1;
                }
            }
        }
    }
}