@use "mixins" as *;
@use "variables" as *;
.header {
    width: 100%;
    height: 100dvh;

    position: relative;

    &::before {
        content: "";
        display: block;
        background-image: url(../images/mobile/image-hero.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;

        @include respond-to(48em) {
            background-image: url(../images/desktop/image-hero.jpg);
        }
    }

    &__text {
        position: absolute;
        top: 50vh;
        inset-inline: var(--gutter);
        max-width: toRem(652);
        padding: .75rem;
        border: 4px solid white;
        text-align: start;
        transform: translateY(-50%);
        @include respond-to($sm) {
            inset-inline: calc(var(--gutter) * 2.375);
            width: fit-content;
            padding-inline-end: 20vw;
        }
        @include respond-to($lg) {
            inset-inline: calc(var(--gutter) * 5.375);
        }
    }

    .header__mainHeading {
        color: white;
        text-transform: uppercase;
        font : {
            family: 'Josefin Sans', sans-serif;
            size: calc(toRem(32) + 1.5vw);
            weight: 300;
        }
    }
}